<ion-view>
  <ion-content class="fondoproducto">
    <div class="row filacat">
      <div class="col-40">
        <img class="ico" src="http://www.intelaf.com/img/iconos/Empresa-iloveimg-cropped.png" >
      </div>
      <div class="col-60">
        <h2 class="cat2">Categoria</h2>
      </div>
    </div>
    <br></b>
    <div class="row">
      <div class="col">
        <div class="infop">
          <div class="row">
            <div class="col fondonombre">
              <h3 class="cat">{{Categoria.name}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-60">
              <div class="row fondop2">
                <div class="col">
                  <p>Descripcion</p>
                  <br>
                </div>
              </div>
              <div class="row fondop3">
                <div class="col">
                  <h2 class="cat a">Precio</h2>
                </div>
              </div>
            </div>
            <div class="col-40">
              <img src="https://vignette.wikia.nocookie.net/videojuego/images/e/eb/PC_2018.jpg/revision/latest?cb=20180623034755" class="imgproducto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>