<ion-view>
  <ion-content class="fondoproducto">
    <div class="row filacat">
      <div class="col-40">
        <img class="ico" src="http://www.intelaf.com/img/iconos/Empresa-iloveimg-cropped.png" >
      </div>
      <div class="col-60">
        <h2 class="cat2">Categoria</h2>
      </div>
    </div>
    <br></b>
    <div class="row fila" ng-repeat="x in mercaderiaObj | filter: categorySelected">
      <div class="col">
        <div class="infop">
          <div class="row">
            <div class="col fondonombre">
              <h3 class="cat">{{x.producto}}</h3>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-60">
              <div class="row fondop2">
                <div class="col">
                  <br>
                  <p>{{x.descripcion}}</p>
                  <br>
                </div>
              </div>
              <div class="row fondop3">
                <div class="col">
                  <h2 class="cat a">Q.{{x.valor}}</h2>
                </div>
              </div>
            </div>
            <div class="col-40">
              <img src="{{x.imagen}}" class="imgproducto">
            </div>
          </div>
          <button class="compras" onclick="funcionalert()"><b>A  D  Q  U  I  R  I  R</b></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>