<!DOCTYPE html>
<html ng-app="App">
  <head>
    <!-- Latest compiled and minified JavaScript -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Intelaf</title>
    <link rel="stylesheet" type="text/css" href="https://firebase.google.com/docs/web/setup#config-web-app">
    <link rel="icon" href="http://www.intelaf.com/img/ajax-loader/loading3.gif">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
  </head>
  <body ng-controller="control">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <img class="img-responsive" width="70%" height="70px !important" src="http://www.intelaf.com/img/top_logo_new_white.png" alt="">
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="container-fluid cont2">
      <div class="row esp">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="espacio">
            <div class="row">
              <div class="col-md-6">
                <form class="" action="index.html" method="post">
                  <label>Producto</label><br>
                  <h5><input ng-model="name.producto" type="text" name="" value="" placeholder="    Inserte el nombre del producto"></h5>
                </form>
                <form class="" action="index.html" method="post">
                  <label>Descripcion:</label><br>
                  <h5><input ng-model="name.descripcion" type="text" name="" value="" placeholder="    ¿ Que trata tu producto ?"></h5>
                </form>
                <form class="" action="index.html" method="post">
                  <label>Marca :</label><br>
                  <h5><input ng-model="name.marca" type="text" name="" value="" placeholder="    Inserte marca del producto"></h5>
                </form>
                <form class="" action="index.html" method="post">
                  <label>Valor :</label><br>
                  <h5><input ng-model="name.valor" type="number" name="" value="" placeholder="    Inserte el valor del producto"></h5>
                </form>
                <form class="" action="index.html" method="post">
                  <label>Pais de Origen :</label><br>
                  <h5><input ng-model="name.pais" type="text" name="" value="" placeholder="    ¿De que Pais es importado el producto ?"></h5>
                </form>
                <form class="" action="index.html" method="post">
                  <label>Ciudad de Origen :</label><br>
                  <h5><input ng-model="name.ciudad"type="text" name="" value="" placeholder="    Lugar de fabricacion"></h5>
                </form>
                <form class="" action="index.html" method="post">
                  <label>Codigo :</label><br>
                  <h5><input ng-model="name.codigo" type="text" name="" value="" placeholder="    Inserte codigo de 10 digitos"></h5>
                </form>
                <form class="" action="index.html" method="post">
                  <label>Categoria :</label><br>
                  <h5><input ng-model="name.categoria" type="text" name="" value="" placeholder="    Inserte el tipo de producto"></h5>
                </form>
                <!--formulario de la funcion de imagen-->
                <!--formulario de la funcion de imagen-->
              </div>
              <div class="col-md-6">
                <output id="list"></output>
                <h3 class="bajo">Imagen del Producto</h3><br>
                <!--botones-->
                <div class="row">
                  <div class="col-md-7"><input class="bimaa" type="file" id="files" name="files[]" multiple /></div>
                  <div class="col-md-5"><button class="bima">Editar</button></div>
                </div>
                <!--botones-->
              </div>
            </div>
            <br><br>
            <center>
              <button class="baceptar" type="button" name="button" ng-click="base(name)"> ACEPTAR</button>
            </center>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
