/* Empty. Add your own CSS if you like */
h4{
	font-family: 'Fjalla One', sans-serif;

}
button{
	background:none;
	border: none;
	width: 100%;
	height: 100px;
	padding: 10px;

}
button:hover{
	width: 100%;
	height: 100px;
	padding: 10px;
	color:#FFF !important;
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	color:#FFF;
}
ion-content{
	padding: none !important;
	margin: none !important;
}

.categorias{
	font-family: arial black;
}
.cpricipal{
	padding: none !important;
	margin: none !important;
}
.cgoria{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.col2{
	display: flex;
}
.log{
	padding: none !important;
	margin: none !important;
}
.row2{
	flex-wrap: wrap;
	background: #fd5f00;
}
.logo{
	background: #FFF;
	padding: none !important;
	margin: none !important;
}
i{
	font-size: 60px;
	align-items:center;
}
.ico{
	width: 100px;
	height: 90px;
	margin:0 auto;
	padding-left: 20px;
}
.cat{
	margin-top: 10px !important;
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
	margin:0 auto;
	text-align: center;
}
.cat2{
	margin-top: 15px !important;
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
}
.a{
	font-size:25px !important;
}
.fondoproducto{
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlzgsTuuzcRV7Uwfs2MigdhUYPiwXpI9HuLOgG3ZBnGiGh6NNS")no-repeat;
	background-size:cover;
}
.padding{
	background: #fd5f00;
}
.filacat{
	background: #fd5f00;
}
.infop{
	margin:0 auto;
	background:#FFF;
	border: 3px solid #000000;
	height: auto;
	width: 90% !important;
}
.imgproducto{
	padding: none !important;
	width: 100%;
	height: auto;
	border-radius: 40px;
}
.fondonombre{
	background: #ff6337;
}
.fondop2{
	background: #000000;
	color: #FFF !important;
}
.fondop3{
	background:#ffa323;
	color: #ff6337 !important;
}